body {
    font-family: candara, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    align-items: center;
    overflow-x: hidden;
}

.main-page {
    background-image: url(background\ 5.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 110vh;
    justify-content: center;
    text-align: center;
    padding : 20px;
}

.form-page {
    background-color: rgba(235, 223, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    padding: 20px;
}
.contactus{
    background-color: rgb(144, 120, 116);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 45vh;
    padding: 20px;  
}
.title p {
    font-size: 2.5em;
    font-weight: bold;
}

.tagline p {
    font-style: italic;
    font-weight: bold;
}
.surah p{
    font-style: italic;
    font-weight: bold;
}
form {
    width: 300px;
    margin: 20px;
}

fieldset {
    border: 2px solid #333;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signature input {
    box-sizing: border-box;
    padding: 10px;
}

input[type="date"] {
    width: 45%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}